footer{
    width: 100%;
    display: flex;
    flex-direction: column;

    .footer__ContainerMenu{ 
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        width: 100%;
        background-color: $colorFondoHeader;
        height: 60px;
            a{
                text-decoration: none;
                color: $colorPrincipal;
                display: inline-block;
                font-family: 'Amatic SC', cursive;
                font-size: 1.2rem;
                transition: all 1s ease-in-out;
                &:hover{
                    transform: scale(1.3);
                }
            }

          
    }
    .footer__redes{
        display: flex;
        width: 40%;
        margin: auto;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: #4ea319;
            transition: all 0.5s ease-in-out;
            &:hover{
                color: #E28F83;
                text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
                transform: scale(1.2);
            }
        }

    
    }
    .footer__Copyright{
        text-align: center;
        color: #8E9775;
    }
}