header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    position: sticky;
    padding: 5px;
    top: 0;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
    background-color: $colorFondoHeader;
    z-index: 9999;
    .header__logo{
        img{
            width: 3rem;
        }
    }
    .header__nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Amatic SC', cursive;
            color: $colorPrincipal;
            font-weight: 900;
        }
         
    }
     
    // .header__burguerMenu{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 2.5rem;
    //     height: 2.5rem;
    //     font-size: 2rem;
    //     border: none;
    //     color: azure;
    //     box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    //     border-radius: 5px;
    //     transition: box-shadow 0.5s ease-in;
    //     &:hover{
    //         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    //     }
        
    // }
    // .header__nav{
    //     display: none;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%; 
    //     height: 100%;
    //     background-color: $colorPrincipal ;
    //     .header__closeMenu{
    //         position: absolute;
    //         top: 1rem;
    //         right: 1rem;
    //         font-size: 1.5rem; 
    //     }
    //     .header__navMenu{
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         width: 100%;
    //         height: 100%;
    //         li{
    //             text-transform: uppercase;
    //             border-radius: 5px;
    //             padding: 0.5rem;
    //             list-style-type: none;
    //             font-family: 'Amatic SC', cursive;
    //             a{
    //                 text-decoration: none;
    //                 color: white;
    //                 line-height: 60px;
    //                 text-transform: uppercase;
                    
    //             }
    //           }
        
    //     }
    
    // }
}
@media screen and (min-width:768px) {
    header{
        flex-direction: row;
        justify-content: space-between;
        .header__nav{
            max-width: 600px;
            justify-content: space-between;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Amatic SC', cursive;
                font-size: 2rem;
                transition: all 0.5s ease-in-out;
                &:hover{
                    color: $colorNaranja;
                    text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
                    transform: scale(1.2);
                }
            }
             
        }
    }    
} 
    /* MEDIA QUERIES */
    // @media screen and (min-width:768px) {

    //     header{
    //         .header__burguerMenu{
    //         display: none;
    //         }
    //         .header__nav{
    //         display: initial;
    //         position: inherit;
    //         width: 60%;
    //         background-color: inherit;
    //             .header__closeMenu{
    //                 display: none;
    //             }
    //             .header__navMenu{
    //                 flex-direction: row;
    //                 justify-content: space-evenly;
    //                 align-items: flex-end;
    //                 li{
    //                     &:hover{
    //                         color: var(--hoover-color);
    //                         text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
    //                         transform: scale(1.1);
    //                         }
    //                 }
    //             }
    //         }
    //     }
        
    // }
