.main__tips{
    .tipsArticle{
        text-align: center;
        h2{
            color: $colorPrincipal;
            font-family: 'Amatic SC', cursive;
            font-size: 2rem;
            margin-top: 10px;
        }
    }
    .tipsMain{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-column-gap: 20px;
        align-items:baseline;
        margin-bottom: 20px;
        text-align: center;
        div{
            box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
            margin: 20px 0px;
            padding: 10px;
            background-color:$colorFondoHeader;
            p{
                font-family: 'Gafata', sans-serif;
            }
        }
    }
}
@media screen and (min-width:768px) {

    .main__tips{
        .tipsMain{
            display: grid;
            grid-template-columns: repeat(3, 0.5fr);
            grid-column-gap: 20px;
            align-items:center;
            margin: 20px;
            text-align: center;
        }
    }
}