@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixins";
@import "utilities/extend";
@import "layout/header";
@import "layout/footer";
@import "pages/index";
@import "pages/aboutus";
@import "pages/contact";
@import "pages/productos";
@import "pages/tips";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-family: 'Amatic SC', cursive;
}




