.wp{
    display: inline-block;
        margin: 10px;
        position:fixed;
        bottom:0;
        right:0;
        z-index:99999;
}
.link{
    color:var(--colorPrincipal);
    font-size: 1.4rem;
}