.main__aboutus{
    .main__aboutus--div{
        .cards-1{
            h2{
                font-family: 'Amatic SC', cursive;
                color: $colorPrincipal;
            }
            .imgs{
                height: 300px;
                width: 100%;
                margin: 15px 0px;
                img{
                    width: 100%;
                    height: 100%;
                    margin-bottom: 2rem;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .main__aboutusContainer{
            h1{
                @include titles;
            }
            p{
                text-align: center;
                font-family: 'Gafata', sans-serif;
            }
        }
    }
}
@media screen and (min-width:768px)  {
    .main__aboutus{
        .main__aboutus--div{
            .cards-1{
                h2{
                    font-family: 'Amatic SC', cursive;
                    color: $colorPrincipal;
                }
                .imgs{
                    height: 500px;
                    width: 100%;
                    margin: 15px 0px;
                    img{
                        width: 100%;
                        height: 100%;
                        margin-bottom: 2rem;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            .main__aboutusContainer{
                h1{
                    @include titles;
                }
                p{
                    text-align: center;
                    font-family: 'Gafata', sans-serif;
                    font-size: 1.2rem;
                }
            }
        }
    }
}