.main__aboutus{
    display: flex;
    flex-direction: column;
    .main__aboutusContainer{
        @include titles;
    }
    .nosotras{
        display: flex;
        flex-direction: column;
        width: 80%;
        .carts{
            display: flex;
            flex-direction: column;
            padding: 10px;
            h2{
                font-family: $font;
                color:$verdeOs;
            }
            .imgs{
                img{
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
    
}
@media screen and (min-width:768px)  {
    .main__aboutus{
        flex-direction: row;
        width: 90%;
        justify-content: center;
        
        .main__aboutusContainer{
            width: 90%;
            p{
                font-size: 20px;
            }
        }
        .nosotras{
            width: 80%;
            justify-content: space-around;
            .carts{
                width: 60%;
            }
        }
    }

}
@media screen and (min-width:1020px)  {
    .main__aboutus{
        flex-direction: column;
        width: 90%;
        justify-content: center;
        .main__aboutusContainer{
            width: 90%;
            p{
                font-size: 20px;
            }
        }
        .nosotras{
            width: 80%;
            flex-direction: row;
            .carts{
                width: 40%;
            }
        }
    }

}