// BANNER
.index__main{
    .wp{
        display: inline-block;
        margin: 10px;
        position:fixed;
        bottom:0;
        right:0;
        color:map-get($colors, verdeP);
        z-index:99999;
        img{
            object-fit: cover;
            width: 30px;
        }
    }
   .main__banner{
        width: 100%;
        height: 300px;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
       &--container{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            div{
                text-align: center;
                h1{
                    background-color: rgba(62, 124, 23, 0.8);
                    font-size: 3rem;
                    color: white;
                    font-family: 'Amatic SC', cursive;
                }
                a{
                    text-decoration: none;
                    color: white;
                    background-color: rgba(241, 95, 13, 0.8);
                    border-radius: 10px;
                    display: block;
                    padding: 10px;
                    width: fit-content;
                    margin: auto;
                    margin-top: 2rem;
                    text-transform: uppercase;
                    transition: all 1s ease-in-out;
                    font-family: 'Gafata', sans-serif;
                    font-size: 1.2rem;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }    
        } 
    }
    
    .main__bolsones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10px;
        align-items: center;
        height: 600px;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-image: url(../img/bgindex.svg);
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 1rem;
        h2{
            margin-top: 30px;
            font-family: 'Amatic SC', cursive;
            color: $colorPrincipal;
            font-size: 2rem;
        }
        p{
            color: $colorPrincipal;
            font-family: 'Gafata', sans-serif;
            width: 90%;
            margin: auto;
            font-size: 1rem;
            a{
                color: $colorPrincipal;
                font-family: 'Gafata', sans-serif;
            }
        }
        h4{
            color: white;
            font-family: 'Gafata', sans-serif;
            text-transform: uppercase;
        }
        .main__conoce{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                color: white;
                font-family: 'Gafata', sans-serif;
                margin:15px 0px;
                text-transform: uppercase;
            }
            i{
                color:white;
            }
    
        }
    }
    .main__boxes{
        .boxes__container{
            display: flex;
            flex-direction: column;
            width: 100%;
            &--box{
                box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.5);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(241, 95, 13, 0.8);
                color: white;
                margin-bottom: 10px;
                height: fit-content;
                text-align: center;
                padding: 1rem;
                transition: all 1s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
                h3{
                    font-family: 'Amatic SC', cursive;
                    font-size: 2rem;
                    a{
                        text-decoration: none;
                        color: white;
                        font-family: 'Amatic SC', cursive;
                    }
                }
                p{
                    width: 100%;
                    margin: auto;
                    font-family: 'Gafata', sans-serif;
                    font-size: 1rem;
                }
            }
        }

    }
}
@media screen and (min-width:768px){
    .index__main{
        .wp{
            img{
                width: 40px;
            }
        }
        .main__banner{
            height: 500px;
            .main__banner--container{
                 div{
                     h1{
                         background-color: rgba(62, 124, 23, 0.8);
                         font-size: 5rem;
                         color: white;
                    }
                }    
            } 
        }
        .main__bolsones{
            height: fit-content;
            max-height: 700px;            
            h2{
                font-size: 3rem;
                margin-top: 5px;
            }
            p{
                width: 85%;
                font-size: 1.5rem;
                margin-bottom: 10px;
                a{
                    color: $colorPrincipal;
                }
            }
            
        }
        .main__boxes{
            .boxes__container{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items:center;
                width: 100%;

                .boxes__container--box{
                    width: 30%;
                    text-align: center;
                    height:400px;
                    p{
                        width: 90%;
                        margin: auto;
                        font-size: 1rem;

                    }
                }
            }

        }
     }
     
}
    

@media screen and (min-width:1024px){
    .index__main{
        .main__banner{
            .main__banner--container{
                 div{
                     h1{
                         background-color: rgba(62, 124, 23, 0.8);
                         font-size: 7rem;
                         color: white;
                    }
                }    
            } 
        }
        .main__bolsones{
            height: 700px;
            width: 100%;         
            h2{
                font-size: 4rem;
            }
            p{
                width: 80%;
                margin: auto;
                font-size: 2rem;
            }
            
        }
        .main__boxes{
            .boxes__container{
                .boxes__container--box{
                    height:300px;
                    p{
                        font-size: 1.3rem;

                    }
                }
            }

        }
     }
     
}
    
