
.container--productos{
    .productos-title {
        color:$colorPrincipal;
        box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        h2{
            @include titles;
        }
        p{
            transition: all 1s ease-in-out;
            
            &:hover{
                transform: scale(1.4);
            }
            a{
                color: $colorPrincipal;
                text-decoration: none;
                transition: all 1s ease-in-out;
                font-family: 'Gafata', sans-serif;
                padding: 0.5rem;
                &:hover{
                    background-color: $colorNaranja;
                    transform: scale(1.4);
                    color: white;
                }
            }
        }
    }
    .container--productos--section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .boxes--products-title{
            font-family: 'Amatic SC', cursive;
            color: white;
            width: 100%;
            text-align: center;
            font-size: 25px;
        }
        #box-tomate{
            background-color: $colorMultiuso;
        }
        #box-pepinos{
            background-color: $colorPrincipal;
        }
        .boxes-box{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .boxes--products{
                .card{
                    margin-bottom: 15px;
                    img{
                        width: 286px;
                        height: 215px;
                        object-fit: cover;
                        object-position: center;
                    }
                    .card-header{
                        font-weight: bolder;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:768px){
    .container--productos{
        .container--productos--section{
            .boxes--products-title{
                font-size: 45px;
            }
            .boxes-box{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                justify-content: center;
                .boxes--products{
                    margin: 0 auto;
                }
            }
        }
    }
}
@media screen and (min-width:992px){
    .container--productos{
        .container--productos--section{
            .boxes-box{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}
@media screen and (min-width:1200px){
    .container--productos{
        .container--productos--section{
            .boxes-box{
                grid-template-columns: repeat(4,1fr);
            }
        }
    }
}
@media screen and (min-width:1400px){
    .container--productos{
        .container--productos--section{
            .boxes-box{
                grid-template-columns: repeat(5,1fr);
            }
        }
    }
}