
.container--productos{
    .topButton{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 9999;
        a{
            img{
                width: 35px;
                height: 35px;
                margin: 10px;
            }
        }
    }
    .productos-title {
        color:$colorPrincipal;
        box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        h2{
            @include titles;
        }
        p{
            transition: all 1s ease-in-out;
            
            &:hover{
                transform: scale(1.4);
            }
            a{
                color: $colorPrincipal;
                text-decoration: none;
                transition: all .5s ease-in-out;
                font-family: 'Gafata', sans-serif;
                padding: 0.5rem;
                &:hover{
                    transform: scale(1.4);
                }
            }
        }
    }
    .dropdown{
        width: 100%;
        button{
            background-color: $colorPrincipal;
            border: none;
            background-color: $colorPrincipal;
            border: none;
            font-family: 'Gafata', sans-serif;
        }
        ul{
            width: 100%;
            padding: 10px;
            li{
                width: 100%;
                a{
                    font-weight: bold;
                }
            }
        }
    }
    .container--productos--section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 35px 0px;
        margin: 10px 0;
        .boxes--products-title{
            font-family: 'Amatic SC', cursive;
            color: white;
            width: 100%;
            text-align: center;
            font-size:30px;
        }
        #box-tomate{
            background-color: $colorMultiuso;
        }
        #box-pepinos{
            background-color: $colorPrincipal;
        }
        #box-ajies{
            background-color: rgb(181, 38, 38);
        }
        #box-zapallos{
            background-color: #cc5e35;
        }
        #box-exoticos{
            background-color: #8141cf;
        }
        #box-huerta{
            background-color: #52c258;
        }
        .boxes-box{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .boxes--products{
                .card{
                    .sin-stock{
                        position: absolute;
                        right: 0px;
                        text-align: center;
                        background-color: rgba(224, 40, 40, 0.95);
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p{
                            color: white;
                            font-weight: 600;
                            text-transform: uppercase;
                            font-size: 14px;
                            margin:0;
                        }

                    }
                    margin-bottom: 15px;
                    img{
                        width: 286px;
                        height: 215px;
                        object-fit: cover;
                        object-position: center;
                    }
                    .card-header{
                        font-weight: bolder;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:768px){
    .container--productos{
        .container--productos--section{
            .boxes--products-title{
                font-size: 45px;
            }
            .boxes-box{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                justify-content: center;
                .boxes--products{
                    margin: 0 auto;
                }
            }
        }
    }
}
@media screen and (min-width:992px){
    .container--productos{
        .dropdown{
            button{
                background-color: $colorPrincipal;
                border: none;
                font-size: 20px;
            }
            ul{
                width: 100%;
                li{
                    width: 100%;
                }
            }
        }
        .container--productos--section{
            .boxes-box{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}
@media screen and (min-width:1200px){
    .container--productos{
        .container--productos--section{
            .boxes-box{
                grid-template-columns: repeat(4,1fr);
            }
        }
    }
}
@media screen and (min-width:1400px){
    .container--productos{
        .container--productos--section{
            .boxes-box{
                grid-template-columns: repeat(5,1fr);
            }
        }
    }
}