.container--productos{
    .productos-title {
        color:$colorPrincipal;
        box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        h2{
            @include titles;
        }
        p{
            transition: all 1s ease-in-out;
            
            &:hover{
                 
                transform: scale(1.4);
            }
            a{
                color: $colorPrincipal;
                text-decoration: none;
                transition: all 1s ease-in-out;
                font-family: 'Gafata', sans-serif;
                padding: 0.5rem;
                &:hover{
                    background-color: $colorNaranja;
                    transform: scale(1.4);
                    color: white;
                }
            }
        }
    }
    .filas{
        div{
            div{
                .productos--boxtitle{
                    font-family: 'Amatic SC', cursive;
                    background-color: $colorMultiuso;
                    color: white;
                    width: 100%;
                    text-align: center;
                }
                div{
                    .carousel-item{
                        height: 200px;
                        img{
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                    
                }
                .filas__listas{
                    ul{
                        margin: 0px;
	                    padding: 0px;
                        li{
                            text-align: center;
                            list-style-type: none;
                            font-family: 'Gafata', sans-serif;
                            margin: 0px;
	                        padding: 0px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:768px){
    .container--productos{
        .filas{
            div{
                div{
                    div{
                        .carousel-item{
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}