//Extend aplicado a la pagina Tips. 
.box__title{
    width: 100%;
    background-color: map-get($colors, verdeP ); 
    color: map-get($colors, light );
    font-size: larger;
    font-family: $font;
    padding: .5rem;
    text-align: center;
}

.box__title2{
    @extend .box__title;
    background-color: map-get($colors, naranja );
}

.box__title3{
    @extend .box__title;
    background-color: map-get($colors, marron );
}

.box__title4{
    @extend .box__title;
    background-color: map-get($colors, dirt );
}