$colorPrincipal: #355e1b;
$verdeOs:#56694b;
$verdeBg:#a1ab8e;
$colorTextoBlack: #181c1b;
$colorTextoLight: #e7e5dc;
$colorNaranja: #f08d54;
$colorMultiuso: #ac6349;
$colorLightNaranja: #edbd50;
$colorFondoHeader: #ffffffd5;

$font:'Montserrat', sans-serif;

