footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px;
    .footer__ContainerMenu{ 
        display: flex;
        align-items: center;
        justify-content:space-around;
        width: 90%;
        max-width: 600px;
        background-color: $colorFondoHeader;
            a{
                text-decoration: none;
                color: $colorPrincipal;
                display: inline-block;
                font-family: $font;
                font-size: 1rem;
                transition: all 0.4s ease-in-out;
                &:hover{
                    color: $colorNaranja;
                    text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
                    transform: scale(1.2);
                }
            }
    }
    .footer__redes{
        display: flex;
        width: 60%;
        max-width: 300px;
        margin: auto;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: $colorPrincipal;
            transition: all 0.5s ease-in-out;
            &:hover{
                text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
                transform: scale(1.2);
            }
            font-size: 20px;
            
        }

    
    }
    .footer__Copyright{
        text-align: center;
        color: #8E9775;
        p{
            padding: 0;
            margin:0;
            a{
                text-decoration: none;
                text-align: center;
                color: #8E9775;
            }
        }
    }
}