header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    position: sticky;
    padding: 5px;
    top: 0;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
    background-color: $colorFondoHeader;
    z-index: 9999;
    .header__logo{
        img{
            width: 3rem;
        }
    }
    .header__nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Englebert', sans-serif;
            color: $colorPrincipal;
        }
         
    }
}
@media screen and (min-width:768px) {
    header{
        flex-direction: row;
        justify-content: space-between;
        .header__nav{
            max-width: 600px;
            justify-content: space-between;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Englebert', sans-serif;
                font-size: 1.5rem;
                transition: all 0.5s ease-in-out;
                &:hover{
                    color: $colorNaranja;
                    text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
                    transform: scale(1.2);
                }
            }
             
        }
    }    
} 
    /* MEDIA QUERIES */
    // @media screen and (min-width:768px) {

    //     header{
    //         .header__burguerMenu{
    //         display: none;
    //         }
    //         .header__nav{
    //         display: initial;
    //         position: inherit;
    //         width: 60%;
    //         background-color: inherit;
    //             .header__closeMenu{
    //                 display: none;
    //             }
    //             .header__navMenu{
    //                 flex-direction: row;
    //                 justify-content: space-evenly;
    //                 align-items: flex-end;
    //                 li{
    //                     &:hover{
    //                         color: var(--hoover-color);
    //                         text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
    //                         transform: scale(1.1);
    //                         }
    //                 }
    //             }
    //         }
    //     }
        
    // }
